{{yield}}
<table>
    <thead>
        <th>ACTIVITY</th>
        <th>USER</th>
        <th>KPI SCORE</th>
        <th>ACTIVITY GOAL</th>
        <th>COMPLETE</th>
    </thead>
    <tbody>
    </tbody>
</table>