{{#bs-navbar type="dark" backgroundColor="dark" class="fixed-top shadow flex-md-nowrap" collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "dashboard" class="navbar-brand"}}EmberStarterProject{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class="ml-auto" as |nav|}}
      {{#if currentSession.isAuthenticated}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle}}{{currentSession.user.email}} <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}{{#ddm.link-to "dashboard"}}Dashboard{{/ddm.link-to}}{{/ddm.item}}
            <div class="dropdown-divider"></div>
            {{#ddm.item}}<a href="#" class="dropdown-item" {{action 'logout'}}>Sign out</a>{{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{else}}
        {{#nav.item}}
          {{#nav.link-to "login" class="btn btn-primary"}}Login{{/nav.link-to}}
        {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
